// id.jade - Display individual model details
extends ../layout

block content
  h1= callback.modelId
  
  p
    a(href="http://" + server + "/model/" + callback.modelId, target='_blank') View on Shapeways
    br
    a(href="/models/" + callback.modelId + ".json") View as JSON
