// upload.jade - Allow a user to select a file and upload it to Shapeways
extends ../layout

block content
  h1 Upload a file
  
  form(action="/models/upload", method="post", enctype="multipart/form-data")
    .browse
      input(type="file", name="modelUpload")
    
    .submit
      input(type="submit", name="submit")
